.padre{
    width: 100%;
    height: 100%;
}
.hijo{
    width: 100%;
    height: 1530px;
    background-image: url(/img/colegio3.jpg);
}
.nosotros{
    display: flex;
    justify-content: center;
    flex-direction: column ;
    align-items: center;
  background-color: rgba(128, 0, 0,0.8);
  width: 30%;
  height: 300px;
  position: relative;
  left: 7%;
  color: white;
  border-bottom-left-radius:50px ;
  border-bottom-right-radius: 50px ;
  box-shadow: 4px 4px 15px rgba(0, 0, 0,1);
  animation: bajar 1s ease forwards;


}
@keyframes bajar {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.nosotros h1{
    font-family: "Arial Black", Arial, sans-serif;
    font-size: 6rem;
}
.nosotros h2{
    font-size: 4rem;
    position: relative;

}
.descripcion{
    color: white;
    background-color: rgba(128, 0, 0,0.8);
    width: 50%;
    height: 460px;
    position: relative;
    left: 50%;
    bottom: 5%;
    border-bottom-left-radius: 50px  ;
    border-top-left-radius: 50px  ;
    box-shadow: 4px 4px 15px rgba(0, 0, 0,1);
    animation: entrarDerecha 1s ease-out forwards;
}
@keyframes entrarDerecha {
  from {
    transform: translateX(100%); 
    opacity: 0;
  }
  to {
    transform: translateX(0); 
    opacity: 1;
  }
}
.descripcion p{
    font-size: 1.8rem;
    margin: 50px;
    position: relative;
    top: 8%;
    left: -2%;
    text-align: right;
}
.historia{
    display: flex;
    justify-content: center;
    flex-direction: column ;
    align-items: center;
  background-color: rgba(128, 0, 0,0.8);
  width: 30%;
  height: 250px; 
  color: white;
  border-top-right-radius:50px ;
  border-bottom-right-radius:50px ;
  position: absolute;
  top: 110%;
  box-shadow: 4px 4px 15px rgba(0, 0, 0,1);
  animation: entrarIzquierda 1s ease-out forwards;
}
@keyframes entrarIzquierda {
  from {
    transform: translateX(-100%); 
    opacity: 0;
  }
  to {
    transform: translateX(0); 
    opacity: 1;
  }
}
.historia h1{
    font-family: "Arial Black", Arial, sans-serif;
    font-size: 3.5rem; 
}
.historia h2{
    font-size: 2rem;
}
.descripcion2{
    color: white;
    background-color: rgba(128, 0, 0,0.8);
    width: 50%;
    height: 570px;
    position: relative;
    left: 50%;
    top: 5%;
    border-bottom-left-radius: 50px  ;
    border-top-left-radius: 50px  ;
    box-shadow: 4px 4px 15px rgba(0, 0, 0,1);
    animation: entrarDerecha 1s ease-out forwards;
}

.descripcion2 p{
    font-size: 1.8rem;
    margin: 50px;
    position: relative;
    top: 8%;
    left: -2%;
    text-align: right;
}
.contactanos{
    background-color: rgba(128, 0, 0,0.8);
    color: white;
    width: 28%;
    position: relative;
    height: 10%;
    top: -4.76%;
    border-top-right-radius:20px ;
    animation: entrarIzquierda 1s ease-out forwards;
}
.contactanos h1{
    font-size: 1rem;
    margin: 20px;
    position: relative;
    top: 20%;

}