.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formGroup label {
  font-weight: 600;
}

.formGroup select {
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

