.botonInstitucional {
    color: rgb(255, 255, 255);
    border-radius: 6px;
    cursor: pointer;
    background-color:#6d0000;
    padding: 5px;
    font-weight: 700;
    font-size: 20px;
}

.botonInstitucional:hover {
  background-color: #490000;;
  color: white; 
}

.botonInstitucional:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
