.padre {
  position: relative;
  width: 100%;
  height: 100vh;
}

.busqueda {
  position: relative;
  width: 20%;
  background-color: transparent;
  justify-self: end;
  height: 10px;
  animation: bajar 1.5s ease forwards;

}

.busqueda ul {
  display: flex;
  gap: 15%;
}

.busqueda li {
  margin: 5%;
  position: relative;
  left: -45%;
  list-style-type: none;
  white-space: nowrap;
  font-size: 1.5rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.busqueda li:hover {
  margin: 0%;
  background-color: white;
  padding: 15px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.slogan {
  position: absolute;
  background-color: white;
  height: 15%;
  width: 40%;
  left: 1%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  animation: bajar 1.5s ease forwards;
}

@keyframes bajar {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.cabeza {
  background-color: red;
  width: 100%;
}

.medio img {
  width: 200px;
  height: auto;
}

.medio {
  width: 50%;
  position: relative;
  left: 5%;
  top: 100px;
  background-color: orange;
}

/* .medio{
  position: relative;
  left: 5%;
  top: 100px;
}
.medio2{
  background-color: red;
  position: relative;
  left: 35%;
} */